[submodule "dscconfiguration.template"]
	path = TemplateConfig
	url = http://github.com/powershell/templateconfig
[submodule "dscconfiguration.tests"]
	path = dscconfiguration.tests
	url = http://github.com/powershell/dscconfiguration.tests
