[submodule "TemplateConfig"]
	path = templateconfig
	url = http://github.com/powershell/templateconfig
[submodule "dscconfiguration.tests"]
	path = dscconfiguration.tests
	url = http://github.com/powershell/dscconfiguration.tests
